/* Mobile First View: */
aside {
	background: #183446;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}

/* Style the links in the aside section */
aside a {
	color: #38AECC;
	display: block;
	padding: 5px 0;
	text-decoration: none;
	width: 100%;
}

/* Change the color of aside links on hover using mouse */
aside a:hover {
	background-color: #38AECC;
	color: white;
}


/* Change the color of aside links on focus using tab key */
aside a:focus {
  background-color: #38AECC;
  color: #E3DFDE;
  outline: none;
}
aside h2{
    color: #38AECC;
}

aside p:hover {
	background-color: #183446;
    color: #38AECC;
	
}

aside p:focus {
	background-color: #183446;
}
section h2{
	text-align: center;
	color: #38AECC
}

article {
	text-align: center;
	background-color: #183446;
	color: #38AECC;
	font-size: 120%;
	padding: 0 10px;
}

#main_image {
	width: 100%;
}


/* For desktop: */
@media only screen and (min-width: 768px) {

	main {
		display: flex;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		float: left;
		justify-content: center;
		width: 30%;
	}

	section {
		display: inline;
		float: right;
		width: 70%;
	}
}