/* This is in Harley's General CSS*/
* {
	box-sizing: border-box;
}

body {
	background: #183446;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
/* -------------------------------------------------------------- */
/* Mobile First View: in Harley's header.css */

/* Style the header which contains the navigation links */
header {
  background-color: #183446; /* CSS property: background-color */
  color: #ffffff; /* CSS property: color */
  position: static; /* CSS property: position */
  top: 0; /* CSS property: top */
  left: 0; /* CSS property: left */
  width: 100%; /* CSS property: width */
  display: flex; /* CSS property: display */
  justify-content: space-between; /* CSS property: justify-content */
  align-items: center; /* CSS property: align-items */
  }
  
  /* Hide the checkbox which we use for the hamburger menu functionality */
  #hamburger_checkbox {
    display: none;
  }
  
  /* Style the image we use as a label for the hamburger menu checkbox */
  #hamburger_image {
    background-color: rgba(255, 255, 255, 0);
    display: block;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  
  /* Show or hide the navigation links depending on whether the hamburger menu checkbox is checked or not */
  input[id="hamburger_checkbox"]:not(:checked) + nav {
    display: none;
  }
  
  /* Style the heading */
  h1 {
    color: #E3DFDE;
    float: left;
    padding: 0 20px;
    width: 100%;
  }
  
  
  /* Style the links inside the navigation bar */
  nav a {
    color: #E3DFDE;							
    float: left;
    font-size: 17px;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  
  
  /* Change the color of links on hover using mouse */
  nav a:hover {
    background-color: #E3DFDE;
    color: #38AECC;
  }
  
  /* Change the color of links on focus using tab key */
  nav a:focus {
    background-color: white;
    color: black;
    outline: none;
  }
  
  /* Change the color of the active/current link */
  .active_nav {
    background-color: #183446;
    color: white;
  }

  
  footer {
	background: #183446;
   padding: 16px 32px; 
  color: #E3DFDE;
	text-align: center;
	width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
  
   /* For desktop: */
  @media only screen and (min-width: 768px) {
  
        /* Hide the hamburger menu image we use as a label for the hamburger menu checkbox */
        #hamburger_image {
          display: none;
        }
  
        /* Show the navigation links... even if the hamburger menu checkbox is not selected (menu open) */
        input[id="hamburger_checkbox"]:not(:checked) + nav {
          display:block
        }
  
        /* Style the Knitters heading */
        h1 {
          text-align: left;
          width: 390px;
        }
  
        /* Style the navigation bar */
        nav {
          float: right;
        }
  
        /* Style the links inside the navigation bar */
        nav a {
          width: auto;
        }
  }